html{
	height: 100%;
	width: 100%;
}
body {
	padding: 20px 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}
a {
  	color: #00B7FF;
}
.wrap{
	height: 100%;
	width: 100%;
}
.formReg{
	width: 600px;
}
.userTable{
	width: 1000px;
	margin-top: 20px;
}
.modal-backdrop{
	height: 100%;
}
.editBtn{
	margin-left:15px;
}
.delBtn{
	margin-left: 20px;
}